<link rel="stylesheet"  href="plugins/stylesheets/main.css" />
<section id="footer">
    <div class="container">
        <!-- <div class="row">
            <div class=" col-md-3">
                <div class="foot-list">
                    <h5>Contact details</h5>
                    <p>No. 45 Ikeja Lagos</p>
                    <i class="fa fa-facebook fa-lg "></i>
                    <i class="fa fa-twitter color-blue fa-lg"></i>
                    <i class="fa fa-instagram fa-lg"></i> 
                    <i class="fa fa-youtube fa-lg"></i> 
                   
                </div>                              
            </div>
         
            <div class="col-md-3">
                <div class="foot-list">
                    <h5>Company</h5>
                    <p>Membership Club</p> 
                    <p>Services</p>
                   
                </div>
            </div>               
       </div>
       <hr> -->
       <!-- <div class="news-paper">
           
               <div class="row">
                    <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="Enter your email...">
                        <input type="submit" value="Subscribe" class="btn btn-danger">
                    </div>
               </div>
                
            
       </div> -->
      
       <!-- <div class="new">
            <input type="text" class="form-control form-control-custom" placeholder="Enter your email...">
            <input type="submit" value="Subscribe" class="btn btn-danger">        
        </div> -->
        <div class="news-paper">
            
            <div class="row">
                <!-- <div class="col-md-4">
                    <div class="news">
                        <h4 class="payment-text"> Signup for offers</h4>
                        <input type="text" class="form-control form-control-custom" placeholder="Enter your email...">
                    </div>
                </div>
                <div class="col-md-2">                      
                    <div class="news-button">                           
                        <input type="submit" value="Subscribe" class="btn btn-danger">     
                        <button class="btn" type="submit" value=" Subscribe"> Subscribe</button>                       
                    </div>
                </div> -->
                <div class="col-md-5">
                    <div class="wrapper">
                        <div class="top">
                          <i class="fas fa-envelope-open-text"></i>
                        </div>
                        <div class="bottom">
                          <div class="payment-text">
                            <h4> Sign up for latest offers</h4>
                          </div>
                          <form action="#">
                            <div class="input-box">
                              <input type="text" placeholder="Enter your email" required>
                            </div>
                            <div class="input-box">
                              <input type="submit" value="Subscribe">
                            </div>
                          </form>
                          <!-- <div class="inf">
                            Don't worry, we don't spam
                          </div> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-2">

                </div>
                
                <div class="col-md-5">
                    <h4 class="payment-text"> We Accept</h4>
                    <div class="payment">                            
                        <img src="/images/paymant-1.png">
                        <img src="/images/stripe.png">
                    </div>
                </div>
            </div>
           
        </div>
        <!-- <div class="flex">
            <div class="foot-list">
                    <h5>Contact details</h5>
                    <p>No. 45 Ikeja Lagos</p>
                    <i class="fa fa-facebook fa-lg "></i>
                    <i class="fa fa-twitter color-blue fa-lg"></i>
                    <i class="fa fa-instagram fa-lg"></i> 
                    <i class="fa fa-youtube fa-lg"></i> 
                   
                </div>   
                <div class="foot-list">
                    <h5>Popular pages</h5>
                    <p>Home</p> 
                    <p> Prices</p>
                    <p>Membership Club</p>
                    <p>Coverage</p>              
                </div>
        </div>
        <div class="flex">
            <div class="foot-list">
                <h5>Services</h5>
                <p>Forum</p> 
                <p>FAQS</p>
            </div>  
            <div class="foot-list">
                <h5>Company</h5>
                <p>Legal</p> 
                <p>Privacy policy</p>
            </div>
        </div> -->
        <div class="copy-right">
            <p>© SabatonServices Limited 2021. Company No. 03945149 - VAT No. 835391417. All rights reserved.</p>
        </div>
    </div> 
   
</section>

 <!--Start of Tawk.to Script-->
 <!-- <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/60b4b8236699c7280da9d998/1f70uuiri';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
</script> -->
<!--End of Tawk.to Script-->   
<script>
    function initFreshChat() {
      window.fcWidget.init({
        token: "d390ed78-c06f-461b-a365-932e549bbff2",
        host: "https://wchat.freshchat.com"
      });
    }
    function initialize(i,t){var e;i.getElementById(t)?initFreshChat():((e=i.createElement("script")).id=t,e.async=!0,e.src="https://wchat.freshchat.com/js/widget.js",e.onload=initFreshChat,i.head.appendChild(e))}function initiateCall(){initialize(document,"Freshchat-js-sdk")}window.addEventListener?window.addEventListener("load",initiateCall,!1):window.attachEvent("load",initiateCall,!1);
</script>

<script src="plugins/js/jquery.js"></script> 
<script src="plugins/js/bootstrap2.min.js"></script>  
<script src="plugins/js/main-slider-script.js"></script>
<script src="plugins/js/bootstrap.min.js"></script>
<script src="plugins/js/isotope.js"></script>
<script src="plugins/js/jquery.fancybox.pack.js"></script>
<script src="plugins/js/jquery.fancybox-media.js"></script>
<script src="plugins/js/owl.js"></script>
<script src="plugins/js/wow.js"></script>
<script src="plugins/js/appear.js"></script>
<script src="plugins/js/script.js"></script>