
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>SabatonServices</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        
        <link rel="stylesheet"  href="plugins/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet"  href="plugins/bootstrap/css/bootstrap2.css" />
        
        <link rel="stylesheet"  href="plugins/css/responsive.css" />
        <link rel="stylesheet" href="plugins/fontawesome/css/font-awesome.min.css" />
   
        <!-- <link rel="stylesheet" type="text/html" href="/public/bower_components/bootstrap/dist/css/bootstrap.css"> -->

        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap" rel="stylesheet">
        <link rel="stylesheet"  href="plugins/stylesheets/table.css" />
        <link rel="stylesheet"  href="plugins/stylesheets/util.css" />
        <link rel="stylesheet"  href="plugins/stylesheets/main.css" />
        <link rel="stylesheet"  href="plugins/stylesheets/style.css" />
       
        
       
       
        
    </head> 

