<header>
        
    <nav class=" navbar shadow navbar-expand-md fixed-top bg-white">
        <div class="container">
            <a href="/"><img src="images/logo.png" class="logo"></a>
            <a href="#" class="btn call btn-danger"><i class="fa fa-phone "></i> Call us</a>
    
            <button type="button" class="navbar-toggler toggler-custom collapsed" data-toggle="collapse" data-target="#menu"
            aria-control="menu" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
            </button>
            <div class="navbar-collapse collapse" id="menu">
                <ul class="navbar-nav">              
                    <!-- <li class="nav-item"><a href="/index" class="nav-link active">  SERVICES <i class="fa fa-angle-down"></i> </a></li> -->
                    <li class="dropdown nav-item">
                        <ul class="nav-link active">  
                            <span>SERVICES <i class="fa fa-angle-down"></i> </span>
                            <div class="dropdown-content ">
                                <div class="flex">
                                    <div class="dr">
                                        <p><a href="#">Plumbing</a></p>
                                        <p><a href="#">Drinage</a></p>
                                        <p><a href="#">Water treatment</a></p>
                                    </div>
                                    
                                </div>                                  
                            </div>                                
                        </ul>
                    </li>
                    <li class="nav-item "><a href="locations" class="nav-link active"> LOCATION</a></li>
                    <li class="nav-item "><a href="sabatons-club" class="nav-link active"> FANTASTIC CLUB</a></li>                      
                    <li class="dropdown nav-item">
                        <ul class="nav-link active">  
                            <span>RATES <i class="fa fa-angle-down"></i> </span>
                            <div class="dropdown-content ">
                                <p><a href="plumbing-rates">Plumbing</a></p>
                                <p><a href="drainage-rates">Drinage</a></p>
                                <p><a href="water-treatment">Water treatment</a></p>                                  
                            </div>                                
                        </ul>
                    </li>
                    <li class="dropdown nav-item">
                        <ul class="nav-link active">  
                            <span>MORE <i class="fa fa-angle-down"></i> </span>
                            <div class="dropdown-content ">                                  
                                <p><a href="contact-us">Contact us</a> </p>
                                <p><a href="about-us">About us</a> </p>
                                <p><a href="#">Blog</a> </p>                                                                  
                            </div>       
                            
                        </ul>
                    </li>                                           
                </ul>           
            </div> 
            <a href="/"><img src="images/logo.png" class="logo2"></a>
            <div class="contact-btn">
                <a href="/login" class="btn btn-danger"><i class="fa fa-phone "></i> 07036294683</a>
                <a href="https://wa.link/hd11kr" class="btn btn-outline-danger ml-2"><i class="fa fa-laptop "></i> BOOK ONLINE</a>
                
            </div>
        </div>    
    </nav>
</header>
