<%- include('includes/header') -%>
<body>
    <%- include('includes/navbar') -%>
    <section id="about-us">
        <div class="container">
            <div class="about-intro">
            <h1> About Us</h1>
        </div>

        <div class="about-text">
            <p>
                Sebaton is your nearby  plumbing organization. We live and work in the Lagos,
                Nigeria and touch base on various cities on borderline of Nigeria.
            </p>

            <p> We understand the unique plumbing needs of this region and as such offer the best plumbing 
                administrations accessible and affordable to our clients. We are focused on giving astounding quality plumbing fixes to our clients’ benefit. We have faith in holding this guarantee to every
                single task that we do. For this reason, we ensure our works speak industry standard. 
            </p>
        
            <p>
                Our handymen are all around prepared, exceptionally learned, and have long periods of involvement with plumbing fix.
                They are always at your service to ensure that your fixes are made when you require them, paying little heed to the day or time. 
                We offer crisis fixes, just as standard fixes, substitutions, and protection support. 

            </p>
            <p>
                As your nearby plumbing organization, we are your companions and neighbors and treat your home, and your plumbing framework with
                a similar consideration that we give our own. Book a service now.

            </p>
        </div>
        </div>
    </section>

    <%- include('includes/footer')-%>
</body>