<%- include('includes/header') -%>
 <link rel="stylesheet"  href="plugins/stylesheets/table.css" />
<body>
    <%- include('includes/navbar') -%>
   <div id="plumbing-rates">
       <div class="plum">
           <h2>Drainage Prices</h2>
       </div>
       <div class="plum-info">
           <div class="container">
            <p>
                Here at Sabaton services, we provide a 24/7 emergency plumbing service in the New Lagos area which includes unblocking clogged drains, high-pressure drain jetting and drain cleaning. SSL are a local bathroom and plumbing solution provider with extensive experience in providing a range of services throughout Lagos. 
            </p>
            <p>
                An overflow pipe is often seen coming out of the wall of your home and is usually connected to systems like the toilet or central heating. Quite often any leaking overflow pipes are the result of faulty valves somewhere in the system but this is something that our experienced and accredited plumbers are able to diagnose and repair whether it be some minor, like degraded tap washers or something more serious such as corroded pipework.
            </p>
            <p>
                If your drains are clogged and you are in need of our professional drain cleaning services then get in touch with us by phone on <a href="#"> <span>  08055518126 </span></a> or Book Online to arrange for a visit and same-day quote.
            </p>
           </div>
       </div>
   </div>
   <div id="drainage-list">
       <h2>
        Other Services We Offer
       </h2>
       <div class="drainage-btn">
           <button class="btn btn-danger btn-lg"> Blocked drains</button>
           <button class="btn btn-danger  btn-lg"> Blocked toilets</button>
           <button class="btn btn-danger btn-lg"> Drain jetting</button>
       </div>
   </div>

    <%- include('includes/footer')-%>
</body>