<%- include('includes/header') -%>
<body>
    <%- include('includes/navbar') -%>

    <section id="slides">
        <div class="container">
            <div class=" row">
                <div class="intro-text col-md-6">
                    <h1>My Plumber in Nigeria - Award-worthy plumbing and heating company</h1>
                
                    <p>Your plumbing issues, solved at the touch of a button. <br> Book our complete solutions, 
                    provided by certified and multi-skilled plumbers and gas safe registered engineers!
                    </p>
                    <div class="input-group ">
                        <input type="text" name="df" class="form-control" placeholder="What do you need help with?">
                        <!-- <input type="text" class="form-control"> 
                            <select class="select">
                                <option >What do you need help with</option>
                                <option> Nigeria</option>
                            </select>
                        </input> -->
                        
                        
                        
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                        </div>
                    </div>
                    <!-- <div class="input-group "> 
                        <select name="country"  class="form-control" placeholder="What do you need help with?">
                            <option value="">What do you need help with</option>
                            <option value="Nigeria"> Nigeria</option>
                        </select>

                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                        </div>
                    </div> -->
                   
                    
                
                </div>
                
                <div class="intro-image col-md-6">            
                    <img src="/images/landing-1.png">
                    <img src="/images/land-arrow.png">
                </div>
                <div class="col-md-">

                </div>
            
            </div>
        </div>
       
    </section>

        <!--Welcome Video Section-->
        <section class="welcome-section ">
            <div class="container">
                <!--Sec Title-->
                <div class="sec-title">
                    <h2>Welcome to SabatonServices</h2>
                </div>
                <div class="row clearfix">
                    <!--Video Column-->
                    <div class="video-column col-md-6 col-sm-12 col-xs-12">
                        <!--Video Box-->
                        <div class="video-box">
                            <figure class="image">
                                <!-- <img src="images/heating.png" alt=""> -->
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/3hK9wxpWhig" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </figure>
                           
                            <!-- <a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-image overlay-box"><span class="flaticon-right-arrow-2"></span></a> -->
                        </div>
                    </div>
                    <!--Content Column-->
                    <div class="content-column col-md-6 col-sm-12 col-xs-12">
                        <div class="inner-column">
                            <div class="text">
                                <p> MISSION STATEMENT</p>
                                <p>We ensure timely delivery of our services through skilled and coordinated teams. We value each client thereby delivering quality products
                                    based on their demands and we go all out to accomplish the expectations of our clients who place their trust in our brand.
                                </p>
                                <p></p>
                            </div>
                           
                            
                            
                            <a href="about.html" class="btn btn-danger btn-style-three">Read More About Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Welcome Video Section-->

        <section id="services">
            <div class="container">
                <div class="row">
                    
                  
                    <div class="col-md-11">
                        <div class="services-text">
                            <h1>Choose from a wide range of heating <br>
                                 and plumbing services for a problem- <br>free property
                            </h1>
                            <h5>At My Plumber, we make it easy for you to get the plumbing and 
                                central heating maintenance you need from one place.
                            </h5>
    
                            <h6>Whether you request an experienced plumber to fix your pipes or drains, a 
                                certified technician to service your central heating system, or a bathroom expert to 
                                 completely renovate your kitchen or bathroom, My Plumber is the company to call. We 
                                 constantly improve and expand our service range to meet various plumbing and gas heating
                                  needs that our residential and commercial customers might have. See the list below and explore
                                   our property maintenance solutions!
                            </h6>
            
                            
                        </div>
                        <div class="row">
                            <div class=" col-md-4">
                                <div class="card my-3">
                                    <img class="card-img-top shadow" src="images/land-plumbing1.png">                   
                                    <div class="card-body">
                                       <div class="container">
                                            <h4 class="card-title">Plumbing</h4>
                                            <p class="card-text"><i class="fa fa-angle-right"></i> Tap repair and replacement</p>
                                            <p class="card-text"><i class="fa fa-angle-right"></i> Toilet and shower leaks</p>
                                            <p class="card-text"><i class="fa fa-angle-right"></i> Emergency Plumber</p>
                                            <p class="card-text"><i class="fa fa-angle-right"></i> Bathroom installation</p>
                                            <p class="card-text"><i class="fa fa-angle-right"></i> Kitchen installations</p>
                                       </div>          
                                    </div>
                                </div>
                            </div>
            
                            <div class="col-md-4">
                                <div class="card my-3 card-custom1">
                                    <img class="card-img-top shadow" src="images/drainage-non-retina.png">
                                    <div class="card-body">
                                        <div class="container">
                                            <h4 class="card-title"> Drainage / Sewage storage</h4>       
                                            <p class="card-text"><i class="fa fa-angle-right"></i> Blocked drains</p>  
                                            <p class="card-text"><i class="fa fa-angle-right"></i> Blocked toilets</p> 
                                            <p class="card-text"><i class="fa fa-angle-right"></i> Drain jetting </p> 
                                            <span></span>
                                            <span></span>                                    
                                        </div>                                                             
                                    </div>
                                </div>
                            </div>
            
                            <div class="col-md-4">
                                <div class="card my-3 card-custom2">
                                    <img class="card-img-top" src="images/heating.png">
                                    <div class="card-body">
                                        <div class="container">
                                            <h4 class="card-title"> Water treatment </h4>
                                            <p class="card-text"><i class="fa fa-angle-right"></i> Treatment tank Maintenace</p>
                                            <p class="card-text"><i class="fa fa-angle-right"></i>  Storage tank washing </p> 
                                            <p class="card-text"><i class="fa fa-angle-right"></i>  Filter replacement</p> 
                                            <p class="card-text"><i class="fa fa-angle-right"></i>  Borehole servicing </p> 
                                        </div>
                                           
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                    </div>
                    
                </div>
                        
        </section>
    
    
        <section class="project-section">
            <div class="container">
                <!--Sec Title-->
                <div class="sec-title">
                    <h4>Our Gallery</h4>
                </div>
                <!--Sortable Masonry-->
                <div class="sortable-masonry">
                    
                    <!--Filter-->
                    <div class="filters clearfix">
                        <ul class="filter-tabs filter-btns clearfix">
                            <li class="active filter" data-role="button" data-filter=".all">All</li>
                            <li class="filter" data-role="button" data-filter=".homeless">plumbing</li>
                            <li class="filter" data-role="button" data-filter=".charity">Drainage / Sewage storage</li>
                            <li class="filter" data-role="button" data-filter=".food">Water treatment</li>
                            
                        </ul>
                    </div>
                    
                    <div class="items-container row clearfix">
                    
                        <!--Gallery Block-->
                        <div class="gallery-block masonry-item all col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <div class="image">
                                    <img src="images/plum2.JPG" alt="" />
                                    <div class="overlay-box">
                                        <div class="content">
                                            <h3><a href="gallery-single.html">Homeless Child</a></h3>
                                            <ul class="option-list">
                                                <li><a class="lightbox-image" href="images/plum2.JPG" data-fancybox-group="gallery-one"><span class="la la-arrows"></span></a></li>
                                                <li><a href="gallery-single.html"><span class="la la-chain"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Gallery Block-->
                        <div class="gallery-block masonry-item all charity food water col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <div class="image">
                                    <img src="images/plum3.JPG" alt="" />
                                    <div class="overlay-box">
                                        <div class="content">
                                            <h3><a href="gallery-single.html">Homeless Child</a></h3>
                                            <ul class="option-list">
                                                <li><a class="lightbox-image" href="images/gallery/2.jpg" data-fancybox-group="gallery-one"><span class="la la-arrows"></span></a></li>
                                                <li><a href="gallery-single.html"><span class="la la-chain"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Gallery Block-->
                        <div class="gallery-block masonry-item all water col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <div class="image">
                                    <img src="images/plum4.JPG" alt="" />
                                    <div class="overlay-box">
                                        <div class="content">
                                            <h3><a href="gallery-single.html">Homeless Child</a></h3>
                                            <ul class="option-list">
                                                <li><a class="lightbox-image" href="images/plum3.JPG" data-fancybox-group="gallery-one"><span class="la la-arrows"></span></a></li>
                                                <li><a href="gallery-single.html"><span class="la la-chain"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Gallery Block-->
                        <div class="gallery-block masonry-item all col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <div class="image">
                                    <img src="images/plumbin 1.JPG" alt="" />
                                    <div class="overlay-box">
                                        <div class="content">
                                            <h3><a href="gallery-single.html">Homeless Child</a></h3>
                                            <ul class="option-list">
                                                <li><a class="lightbox-image" href="images/gallery/4.jpg" data-fancybox-group="gallery-one"><span class="la la-arrows"></span></a></li>
                                                <li><a href="gallery-single.html"><span class="la la-chain"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Gallery Block-->
                        <div class="gallery-block masonry-item all water food col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <div class="image">
                                    <img src="images/heating.png" alt="" />
                                    <div class="overlay-box">
                                        <div class="content">
                                            <h3><a href="gallery-single.html">Homeless Child</a></h3>
                                            <ul class="option-list">
                                                <li><a class="lightbox-image" href="images/gallery/5.jpg" data-fancybox-group="gallery-one"><span class="la la-arrows"></span></a></li>
                                                <li><a href="gallery-single.html"><span class="la la-chain"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Gallery Block-->
                        <div class="gallery-block masonry-item all charity homeless col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <div class="image">
                                    <img src="images/land-plumbing1.png" alt="" />
                                    <div class="overlay-box">
                                        <div class="content">
                                            <h3><a href="gallery-single.html">Homeless Child</a></h3>
                                            <ul class="option-list">
                                                <li><a class="lightbox-image" href="images/gallery/6.jpg" data-fancybox-group="gallery-one"><span class="la la-arrows"></span></a></li>
                                                <li><a href="gallery-single.html"><span class="la la-chain"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                    
                </div>
                
            </div>
        </section>
        <!--End Gallery Section-->

        <section id="enjoy">
            <div class="enjoy-text">
                <h1>Enjoy a hassle-free service with reliable <br> plumbers in Lagos!</h1>
            </div>
            <div class="enjoy-btn">
                <a href="tel:23408060373561" class="btn btn-danger btn-custom"> Call 07067294685</a>
                <a href="/signup" class="btn btn-outline-primary  btn-custom ">SCHEDULE A VIST</a>
            </div>
            
        </section>

        <%- include('includes/footer')-%>

    
</body>
</html> 