<%- include('includes/header') -%>
<body>
    <%- include('includes/navbar') -%>
    <!-- <section>
        <div id="topCarousel" class="carousel slide" data-ride="carousel" >
                <ol class="carousel-indicators">
                    <li data-target="#topCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#topCarousel" data-slide-to="1"></li>
                    <li data-target="#topCarousel" data-slide-to="2"></li>
                    
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container">
                            <div class=" row">
                                <div class="intro-text col-md-6">
                                    <h1>The Plumber You Deserve </h1>
                                
                                    <p>Get the most reliable plumbers in <b>Lagos </b> to fix your <br>plumbing issues…with 365 days trial
                                       
                                    </p>
                                    <a href="https://wa.link/igg3b2" class="btn btn-danger btn-lg mt-3">Request A Service Now</a>

                                </div>
                                
                                <div class="intro-image col-md-6">            
                                    <img src="/images/black plumber .png">
                                </div>
                                <div class="col-md-">
                
                                </div>
                            
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class=" row">
                                <div class="intro-text col-md-6">
                                    <h1>The Plumber You Deserve </h1>
                                
                                    <p>Get the most reliable plumbers in <b>Lagos </b> to fix your <br>plumbing issues…with 365 days trial
                                       
                                    </p>
                                    <a href="https://wa.link/igg3b2" class="btn btn-danger btn-lg mt-3">Request A Service Now</a>

                                </div>
                                
                                <div class="intro-image col-md-6">            
                                    <img src="/images/heating.png">
                                   
                                </div>
                                <div class="col-md-">
                
                                </div>
                            
                            </div>
                        </div>
                    </div>
         
                    <a class="carousel-control-prev" href="#topCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#topCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            <div>
                </div>
            </div>
           
    </section> -->

    <section id="slides">
        <div class="container">
            <div class=" row">
                <div class="intro-text col-md-6">
                    <h1>The Plumber You Deserve </h1>
                
                    <p>Get the most reliable plumbers in <b>Lagos </b> to fix your plumbing issues…with 365 days trial
                       
                    </p>
                    <a href="https://wa.link/igg3b2" class="btn btn-black btn-lg mt-3">Request A Service Now</a>

                    
                
                </div>
                
                <div class="intro-image col-md-6">            
                    <img src="/images/black plumber .png">
                  
                </div>
                <div class="col-md-">

                </div>
            
            </div>
        </div>
       
    </section>

        <!--Welcome Video Section-->
        <section class="welcome-section ">
            <div class="container">
                <!--Sec Title-->
                <div class="sec-title">
                    <h2>Welcome to SabatonServices</h2>
                </div>
                <div class="row clearfix">
                    <!--Video Column-->
                    <div class="video-column col-md-6 col-sm-12 col-xs-12">
                        <!--Video Box-->
                        <div class="video-box">
                            <figure class="image">
                                <!-- <img src="images/heating.png" alt=""> -->
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/3hK9wxpWhig" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </figure>
                           
                            <!-- <a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-image overlay-box"><span class="flaticon-right-arrow-2"></span></a> -->
                        </div>
                    </div>
                    <!--Content Column-->
                    <div class="content-column col-md-6 col-sm-12 col-xs-12">
                        <div class="inner-column">
                            <div class="text">
                                <p> MISSION STATEMENT</p>
                                <p>We ensure timely delivery of our services through skilled and coordinated teams. We value each client thereby delivering quality products
                                    based on their demands and we go all out to accomplish the expectations of our clients who place their trust in our brand.
                                </p>
                                <p></p>
                            </div>
                           
                            
                            
                            <a href="about-us" class="btn btn-orange">Read More About Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Welcome Video Section-->

        <section id="services">
            <div class="container"> 
                <div class="row">        
                    <div class="col-md-11">
                        <div class="services-text">
                            <h1>Choose from a wide range of Bathroom 
                                 and plumbing services for a problem-  free property
                            </h1>
                            <h5>At Sabaton Services, we make it easy for you to get the plumbing and 
                                central bathroom maintenance you need from one place.
                            </h5>
    
                            <h6>Whether you request an experienced plumber to fix your pipes or drains, a 
                                certified technician to service your central bathroom system, or a bathroom expert to 
                                 completely renovate your kitchen or bathroom, Sabaton services is the company to call. We 
                                 constantly improve and expand our service range to meet various plumbing and bathroom
                                  needs that our residential and commercial customers might have. See the list below and explore
                                   our property maintenance solutions!
                            </h6>
            
                            
                        </div>
                        <div class="row">
                            <div class=" col-md-4">
                                <div class="card my-3">
                                    <img class="card-img-top shadow" src="images/land-plumbing1.png">                   
                                    <div class="card-body">
                                       <div class="container">
                                            <h4 class="card-title">Plumbing</h4>
                                            <p class="card-text"><i class="fa fa-angle-right"></i> Tap repair and replacement</p>
                                            <p class="card-text"><i class="fa fa-angle-right"></i> Toilet and shower leaks</p>
                                            <p class="card-text"><i class="fa fa-angle-right"></i> Emergency Plumber</p>
                                            <p class="card-text"><i class="fa fa-angle-right"></i> Bathroom installation</p>
                                            <p class="card-text"><i class="fa fa-angle-right"></i> Kitchen installations</p>
                                       </div>          
                                    </div>
                                </div>
                            </div>
            
                            <div class="col-md-4">
                                <div class="card my-3 card-custom1">
                                    <img class="card-img-top shadow" src="images/drainage-non-retina.png">
                                    <div class="card-body">
                                        <div class="container">
                                            <h4 class="card-title"> Drainage / Sewage storage</h4>       
                                            <p class="card-text"><i class="fa fa-angle-right"></i> Blocked drains</p>  
                                            <p class="card-text"><i class="fa fa-angle-right"></i> Blocked toilets</p> 
                                            <p class="card-text"><i class="fa fa-angle-right"></i> Drain jetting </p> 
                                            <span></span>
                                            <span></span>                                    
                                        </div>                                                             
                                    </div>
                                </div>
                            </div>
            
                            <div class="col-md-4">
                                <div class="card my-3 card-custom2">
                                    <img class="card-img-top shadow" src="images/heating.png">
                                    <div class="card-body">
                                        <div class="container">
                                            <h4 class="card-title"> Water treatment </h4>
                                            <p class="card-text"><i class="fa fa-angle-right"></i> Treatment tank Maintenace</p>
                                            <p class="card-text"><i class="fa fa-angle-right"></i>  Storage tank washing </p> 
                                            <p class="card-text"><i class="fa fa-angle-right"></i>  Filter replacement</p> 
                                            <p class="card-text"><i class="fa fa-angle-right"></i>  Borehole servicing </p> 
                                        </div>
                                           
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                    </div>
                    
                </div>
                        
        </section>
        
        
        
        <!--End Gallery Section-->


        <div class="gallery">
            <ul class="controls">
                <li class="buttons active" data-filter="all"> All</li>
                <li class="buttons" data-filter="plumbing"> Plumbing</li>
                <li class="buttons" data-filter="drainage"> Drainage </li>
                <li class="buttons" data-filter="water-treatment"> Water treatment</li>
    
                </li>
            </ul>
    
            <div class="image-container">
                <a href="images/plum-image1.jpeg" class="image plumbing">
                    <img src="images/plum-image1.jpeg" alt="">
                </a>
                <a href="images/plum-image2.jpeg"  class="image plumbing">
                    <img src="images/plum-image2.jpeg" alt="">
                </a>
                <a href="images/plum-image3.jpeg" class="image plumbing">
                    <img src="images/plum-image3.jpeg" alt="">
                </a>
                <a href="images/client1.jpeg" class="image plumbing">
                    <img src="images/plum3.JPG" alt="">
                </a>
                <a href="images/plum-house.jpg" class="image plumbing">
                    <img src="images/plum-house.jpg" alt="">
                </a>
                
                <a href="images/bathroom-image1.JPG" class="image plumbing">
                    <img src="images/bathroom-image1.JPG" alt="">
                </a>
                <a href="images/plum-image4.jpeg" class="image chocolate">
                    <img src="images/plum-image4.jpeg" alt="">
                </a>
                <a href="images/plum4.JPG" class="image drainage">
                    <img src="images/plum4.JPG" alt="">
                </a>
                <!-- <a href="images/plum3.JPG" class="image drainage">
                    <img src="images/plum3.JPG" alt="">
                </a> -->
                <a href="images/plum-house.jpg" class="image water-treatment">
                    <img src="images/plum-house.jpg" alt="">
                </a>
              
            </div>
        </div>

        
        
        

        <%- include('includes/footer')-%>

    
</body>
</html> 