<%- include('includes/header') -%>
<link rel="stylesheet"  href="plugins/stylesheets/main.css" />
<body>
    <%- include('includes/navbar') -%>
    <section id="location">
        <div class="location-info">
            <div class="container">
                <h1>Choose your location and book <br> your service today!</h1>
                <p>
                    My Plumber provides a range of services across London including Plumbing, 
                    Boilers & Central Heating, Drainage, Kitchen and Bathroom plumbing. Below is a list of
                    some of the areas we include, if you cannot find your area, please contact our team to find out if we can 
                    provide services in your part of London.
                </p>

                <p>We currently cover the followng parts of <B>Lagos </B> <br>
                    <div class="states">
                        <a href="#ikeja"><span>IKEJA </span></a>  <a href="#marryland"><span>MARRYLAND </span></a>  <a href="#ajah"><span>AJAH </span></a>
                        <a href="#lekki"><span>LEKKI </span></a> 
                    </div>
                </p>
            </div>
        </div>
        <div class="map">
           <div class="container">
                <div id="ikeja">
                    <div class="mapouter">
                        <div class="gmap_canvas">
                            <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=ikeja%20lagos%20nigeria&t=&z=15&ie=UTF8&iwloc=&output=embed" 
                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                            
                        </div>
                    </div>
                </div>
               
                <div id="marryland">
                    <div class="mapouter">
                        <div class="gmap_canvas">
                            <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=marryland%20lagos%20nigeria&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                           
                        </div>
                    </div>
                </div>
                
            </div>
            <!-- <div class="container">
               
                <div id="maryland">
                    <div class="mapouter">
                        <div class="gmap_canvas">
                            <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=marryland%20lagos%20nigeria&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                            <a href="https://fmovies-online.net">fmovies wtf</a><br>
                            <a href="https://www.embedgooglemap.net">google maps create map</a>
                            
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </section>

    <%- include('includes/footer')-%>
</body>