<section class="project-section">
    <div class="container">
        <!--Sec Title-->
        <div class="sec-title">
            <h4>Our Gallery</h4>
        </div>
        <!--Sortable Masonry-->
        <div class="sortable-masonry">
            
            <!--Filter-->
            <div class="filters clearfix">
                <ul class="filter-tabs filter-btns clearfix">
                    <li class="active filter" data-role="button" data-filter=".all">All</li>
                    <li class="filter" data-role="button" data-filter=".plumbing">plumbing</li>
                    <li class="filter" data-role="button" data-filter=".drainage">Drainage / Sewage storage</li>
                    <li class="filter" data-role="button" data-filter=".water-treatment">Water treatment</li>
                    
                </ul>
            </div>
            
            <div class="items-container row clearfix">
            
                <!--Gallery Block-->
                <div class="gallery-block masonry-item all col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="images/plum2.JPG" alt="" />
                            <div class="overlay-box">
                                <div class="content">
                                    <h3><a href="gallery-single.html">All gallery</a></h3>
                                    <ul class="option-list">
                                        <li><a class="lightbox-image" href="images/plum2.JPG" data-fancybox-group="gallery-one"><span class="la la-arrows"></span></a></li>
                                        <li><a href="gallery-single.html"><span class="la la-chain"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="gallery-block plumbing all col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="images/plum4.JPG" alt="" />
                            <div class="overlay-box">
                                <div class="content">
                                    <h3><a href="gallery-single.html">Plumbing</a></h3>
                                    <ul class="option-list">
                                        <li><a class="lightbox-image" href="images/plum3.JPG" data-fancybox-group="gallery-one"><span class="la la-arrows"></span></a></li>
                                        <li><a href="gallery-single.html"><span class="la la-chain"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="inner-box">
                        <div class="image">
                            <img src="images/plum4.JPG" alt="" />
                            <div class="-overlay-box">
                                <div class="content">
                                    <h3><a href="gallery-single.html">Plumbing</a></h3>
                                    <ul class="option-list">
                                        <li><a class="lightbox-image" href="images/plum3.JPG" data-fancybox-group="gallery-one"><span class="la la-arrows"></span></a></li>
                                        <li><a href="gallery-single.html"><span class="la la-chain"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="gallery-block drainage all col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="images/plum4.JPG" alt="" />
                            <div class="overlay-box">
                                <div class="content">
                                    <h3><a href="gallery-single.html">Drainage / Sewage storage</a></h3>
                                    <ul class="option-list">
                                        <li><a class="lightbox-image" href="images/plum3.JPG" data-fancybox-group="gallery-one"><span class="la la-arrows"></span></a></li>
                                        <li><a href="gallery-single.html"><span class="la la-chain"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="inner-box">
                        <div class="image">
                            <img src="images/plum4.JPG" alt="" />
                            <div class="-overlay-box">
                                <div class="content">
                                    <h3><a href="gallery-single.html">Drainage / Sewage storage</a></h3>
                                    <ul class="option-list">
                                        <li><a class="lightbox-image" href="images/plum3.JPG" data-fancybox-group="gallery-one"><span class="la la-arrows"></span></a></li>
                                        <li><a href="gallery-single.html"><span class="la la-chain"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                <div class="gallery-block water-treatment all col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="images/plum4.JPG" alt="" />
                            <div class="overlay-box">
                                <div class="content">
                                    <h3><a href="gallery-single.html">Water treatment</a></h3>
                                    <ul class="option-list">
                                        <li><a class="lightbox-image" href="images/plum3.JPG" data-fancybox-group="gallery-one"><span class="la la-arrows"></span></a></li>
                                        <li><a href="gallery-single.html"><span class="la la-chain"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="inner-box">
                        <div class="image">
                            <img src="images/plum4.JPG" alt="" />
                            <div class="-overlay-box">
                                <div class="content">
                                    <h3><a href="gallery-single.html">Water treatment</a></h3>
                                    <ul class="option-list">
                                        <li><a class="lightbox-image" href="images/plum3.JPG" data-fancybox-group="gallery-one"><span class="la la-arrows"></span></a></li>
                                        <li><a href="gallery-single.html"><span class="la la-chain"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>

                   
                
                
                
            </div>
            
        </div>
        
    </div>
</section>