<%- include('includes/header') -%>
<link rel="stylesheet"  href="plugins/stylesheets/table.css" />
<body>
  <%- include('includes/navbar') -%>
  <div id="plumbing-rates">
    <div class="plum">
      <h2>Plumbing Services</h2>
    </div>
    <div class="plum-info">
      <div class="container">
        <p>
            Here at Sabaton Services, we’re experts in piping and plumbing services. 
            Whether you’re looking for a domestic plumber for toilet installation or bathroom repairs, 
            our qualified team of professionals have years of experience to make sure that you’re 100% 
            satisfied with your plumbing service.

        </p>
        <p>
            Our team caters for a vast array of different bathroom plumbing services to ensure that all sinks, showers, toilers, baths and respective pipework is in full working order. 
        </p>
        <p>
            Alongside our bathroom plumbing services, we offer tailored services for your kitchen, varying from the installation of water heater system to fixing leaky pipeworks or dripping taps. Our fully qualified team is available to assist with all aspects of kitchen plumbing. 
            
        </p>
      </div>
    </div>
  </div>   

  <section id="how-it-works">
    <h2>How the service works</h2>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card card-bg">
              <div class="plum-card-img ">
                <img class="plum-card-img-top " src="images/schedule-icon.png">
              </div>
              <div class="card-body how-text">
                  <div class="container">
                    <h4>Schedule your appointment online or call us</h4>
                    <p>
                      You can easily book your plumbing service online,
                      check prices and get an instant estimate for small
                      straightforward jobs, such as leak repairs,
                      appliance installations or faulty fixture
                      replacements. To get a quote for more complex
                      plumbing projects, please call!
                    </p>
                  </div>
                     
                  
              </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card  card-bg">
              <div class="plum-card-img ">
                <img class="plum-card-img-top " src="images/pipes-icon.png">
              </div>
              <div class="card-body how-text">
                  <div class="container">
                    <h4>
                      We’ll send a qualified and experienced local plumber
                    </h4>
                    <p>
                      The expert will arrive with all the tools and spare
                      parts needed to complete the job. He will
                      investigate carefully the plumbing problem or
                      installation task at hand. Should an extra fitting
                      or part is required, the plumber will happily
                      purchase it on your behalf.
                    </p>
                  </div>
                     
                  
              </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-bg">
            <div class="plum-card-img ">
              <img class="plum-card-img-top " src="images/guarantee-icon.png">
            </div>
              <div class="card-body how-text">
                  <div class="container">
                    <h4>
                      Enjoy the results with a 12-month workmanship
                      guarantee
                    </h4>
                    <p>
                      As your complete satisfaction is our main priority,
                      rest assured that the service will be performed to
                      the highest standard! Any replacement parts or new
                      fixtures and appliances will be fitted expertly and
                      in accordance with the manufacturer’s instructions
                      and warranty conditions.
                    </p>
                  </div>
                     
                  
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>

     
       
       


  <%- include('includes/footer')-%>
</body>