<%- include('includes/header') -%>
<link rel="stylesheet"  href="plugins/stylesheets/table.css" />

<body>
    <%- include('includes/navbar') -%>
    <section id="sabatons-club">    	

		<div class="container">
			<div class="sabatons-club-header">
				<h2>Welcome to Sabaton-club</h2>
			</div>
			<div class="sabaton-text">
				
				<h6>The easiest way to book qualified plumbers near you is quite simple with Sabaton Services by following the steps below:</h6>
				<ul>
					<li>1) Choose what time fits you best and book a plumber from our various online channels</li>
					<li>2) We’ll send a qualified plumber to your place within the shortest time possible</li>
					<li>3) The expert will handle all your plumbing issues or unclog your blocked drains</li>
					<li>4) A detailed quotation will be issued after inspection</li>
					<li>5) Our rates are very affordable and flexible </li>
					<li>6) Enjoy a long lasting quality plumbing work saving you money and needless headaches</li>
					<li>7) All products and spare parts are sourced directly from manufacturers from Germany, Europe, Turkey, Japan, India, etc.</li>

				</ul>				
			</div>
			<div class="container table-text">
				<h2>Sabaton club Rates </h2>
				<table>
				 <tr>
				 <th>Package</th>
				 <th>On time arrival guarantee</th>
				 <th>Frequency of maintenance</th>
				 <th>Spare part grades</th>
				 <!-- <th>Sign up Credit</th> -->
				 
				 </tr>
				 <tr>
				 <td>60,000</td>
				 <td>0 - 3 hours</td>
				 <td> Monthly</td>
				 <td>A</td>
				 <!-- <td>10,000</td> -->
				 </tr>
				 <tr>
				 <td>40,000</td>
				 <td>3 - 6 hours</td>
				 <td> Bi- Monthly</td>
				 <td>B</td>
				 <!-- <td>7,500</td> -->
				 </tr>
				 <tr>
				 <td>25,000</td>
				 <td>6 - 12 hours </td>
				 <td>Quarterly</td>
				 <td>C</td>
				 <!-- <td>5,000</td> -->
				 </tr>	 
				</table>
			</div>
		   
			<div class="keywords">
				<p>Keywords</p>
				<ul>
					<li> A – Products from Germany, and all of Europe</li>
					<li> B – Products from Turkey, Japan, India</li>
					<li>C – Products from other parts of the World.</li>
				</ul>
			</div>
		</div> 

    </section>
	<section id="member-benefits-section">
		<div class="container">
			<h2>The perks you enjoy for a whole year</h2>
			<div class="member-benefits-wrap">
				<div class="benefit-item">
					<div class="img">
						<img src="/images/naira-blue-icon.png">
					</div>
					<div class="info">
						<div class="title">
							Upto ₦10,000 in Credits
						</div>
					</div>
				</div>
				<div class="benefit-item">
					<div class="img">
						<img src="/images/tag-icon.png">
					</div>
					<div class="info">
						<div class="title">
							Preferential Member Rate
						</div>
					</div>
				</div>
				<div class="benefit-item">
					<div class="img">
						<img src="/images/exclusive-deal.png">
					</div>
					<div class="info">
						<div class="title">
							Exclusive seasonal deals
						</div>
					</div>
				</div>
				<div class="benefit-item">
					<div class="img">
						<img src="/images/priority-icon.png">
					</div>
					<div class="info">
						<div class="title">
							Priority booking and case handling
						</div>
					</div>
				</div>
				<div class="benefit-item">
					<div class="img">
						<img src="/images/full-benefits-icon.png">
					</div>
					<div class="info">
						<div class="title">
							Booking with full benefit
						</div>
					</div>
				</div>
				<div class="benefit-item">
					<div class="img">
						<img src="/images/referal-icon.png">
					</div>
					<div class="info">
						<div class="title">
							Extra credit for every referral
						</div>
					</div>
				</div>
				<div class="benefit-item">
					<div class="img">
						<img src="/images/ontime-icon.png">
					</div>
					<div class="info">
						<div class="title">
							On-time arrival guarantee						</div>
					</div>
				</div>
				<div class="benefit-item">
					<div class="img">
						<img src="/images/floor-repair-icon.png">
					</div>
					<div class="info">
						<div class="title">
							Maintenance of floor drains and waste pipes
						</div>
					</div>
				</div>
				<div class="benefit-item">
					<div class="img">
						<img src="/images/water-icon2.png">
					</div>
					<div class="info">
						<div class="title">
							Routine water treatment & storage maintenance
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

    <%- include('includes/footer')-%>
</body>