<%- include('includes/header') -%>
<body>
    <%- include('includes/navbar') -%>
    <section id="about-details">
        <div class="container">
            <h1> About Us</h1>
        </div>
    </section>

    <%- include('includes/footer')-%>
</body>