<%- include('includes/header') -%>
<link rel="stylesheet"  href="plugins/stylesheets/table.css" />
<body>
    <%- include('includes/navbar') -%>
   <div id="plumbing-rates">
       <div class="plum">
           <h2>Water treatment and Overhead tanks maintenance
        </h2>
       </div>
       <div class="plum-info">
           <div class="container">
            <p>
                In addition to blocked or leaking overflow pipes we can also help with issues relating to water tanks. If there is a lower than usual flow rate or the hot water isn’t coming through when it should, or the overhead tanks are dirty and clogged, Sabaton services are on-hand to carry out the work needed to restore the system to full working order.
            </p>
            <p>
                All of our plumbers offer such an extensive range of plumbing services that we can help with everything from routine maintenance and minor repairs through to major projects such as plumbing for new builds and bathroom installations.
            </p>
           </div>
       </div>
      
    </div>
    <div id="drainage-list">
        <h2>
            Just some of our water services
        </h2>
        <div class="drainage-btn">
            <button class="btn btn-danger btn-lg"> Treatment tank Maintenace</button>
            <button class="btn btn-danger  btn-lg">  Storage tank washing</button>
            <button class="btn btn-danger btn-lg"> Filter replacement</button>
            <button class="btn btn-danger btn-lg"> Borehole servicing</button>
        </div>
    </div>

    <%- include('includes/footer')-%>
</body>