<%- include('includes/header') -%>
<body>
    <%- include('includes/navbar') -%>
   <div id="plumbing-rates">
       <div class="plum">
           <h2>Water treatment Prices</h2>
       </div>
       <div class="plum-info">
           <div class="container">
            <p>
                My Plumber provides professional Water treatment services across London. 
                Our team are qualified experts who can help with all types of plumbing work.
                Below are our plumbing prices and if you have any additional questions do not hesitate to call 
                <a href="#"> <span> 070 8078 5920 </span></a> to talk to our team. We are here to help. Get a free quote for your Wter treatment needs right now.
            </p>
           </div>
       </div>
  
       <div class="container">
        <h2>Water treatment Hourly Rate </h2>
        <table>
             <tr>
             <th>Apointments</th>
             <th>8am-6pm</th>
             <th>6pm-10am</th>
             </tr>
             <tr>
             <td>First Hour</td>
             <td>Maria Anders</td>
             <td>Germany</td>
             </tr>
             <tr>
             <td>Daily Rate</td>
             <td>Francisco Chang</td>
             <td>Mexico</td>
             </tr>
             
        </table>

       
    </div>
   </div>

    <%- include('includes/footer')-%>
</body>